body{
    font-family: arial, sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

li{
    padding: .5rem;
}

.navbar{
    display: flex;
    justify-content: flex-end;
}

img{
    width: 20vw;
    margin: auto auto 0px auto;
    display: flex;
    margin-top: 20vh;
}

.main-search{
    display: flex;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding:3rem;    
}

form{
    display: flex;
    margin: auto;
    flex-direction: column;
}
.bar{
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 600px;
    padding-inline: 1rem;
    font-size: medium;
}

.searches{
    display: flex;
    justify-content: center;    
}

.submit, .lucky{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.border{
    width: auto;
    height: 1px;
    background-color: #3c4043;
    margin:0px;
}

.advanced{
    color: rgb(202, 3, 3);
    margin-left: 45px;
}

.form-row{
    padding:1rem 1rem 1rem 0px;
}

.form-row > label{
    float: left;
}
.form-row > input{
    float: right;
    min-width: 167px;
    min-height: 30px;
    vertical-align: middle;
    width: 50%;
    padding-inline: .5rem;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
}

.advanced-btn{
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    float:right;
    width:100px;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    font-size:11px;
    cursor:pointer;
}

.advanced-container{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}